@charset 'utf-8';

// Your custom SCSS should be written here...
//
$header-height: 0;
$sidebar-width: 300px;
$sidebar-bg: #2B303B;
$sidebar-text: #bbbbbb;
$sidebar-link: #bbbbbb;
$navbar-text: desaturate($core-accent,50%);
$navbar-bg: #F6F6F6;
$progress-bar: #50D681;
$check-color: lighten($sidebar-bg, 30%);
$star-color: #F8C74A;

// Font Weights
$font-weight-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

$body-margin: 4rem;


body {
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;

}


b, strong {
	font-weight: $font-weight-bold
}

.default-animation {
	@include transition(all 0.5s ease);
}

#header.navbar {

	width: 100%;
	min-height: $header-height;
	display: block;
	background: $navbar-bg; // Change this color in settings to change the navbar color

	#logo img {
		margin-bottom: -5px;
	}

	ul {
		position: absolute;
		top: 0;
		padding-left: 10px;
		display: table;
		vertical-align: middle;
		margin: 0;
		float: none;

		li {
			display: table-cell;
			text-align: center;
			padding: 0;
			height: $header-height;
			line-height: $header-height;

			> a, > span {
				color: $navbar-text;
				padding: 0 5px;
				font-size: 24px;
				@include breakpoint(mobile-only) {
					font-size: 18px;
					padding: 0;
				}
				&:hover {
					color: darken($navbar-text, 20%);
				}
			}
		}
	}
	h4 {
		@extend .default-animation;
		font-family: $font-family-default;
		font-weight: $font-weight-regular;
		line-height: $header-height;
		padding: 0 1rem 0 $sidebar-width;
		text-align: center;
		color: $navbar-text;
		margin: 0;
		font-size: 26px;
		@include breakpoint(mobile-only) {
			font-size: 20px;
			text-align: right;
			padding-left: 0;
		}
	}
}

@include breakpoint(mobile-only) {
	#overlay {
		display: static;
		position: fixed;
		top: $header-height;
		left: $sidebar-width;
		right: 0;
		bottom: 0;
		z-index: 10;
		cursor: pointer;
	}
}

#header {
    background: $core-accent;
    color: $white;
    text-align: center;

    padding: 1rem;

    a {
        display: inline-block;
    }


    #logo-svg {
        @extend .default-animation;
        width: 8rem;
        height: 2rem;

        path {
            @extend .default-animation;
            fill: $white;
        }
    }

}

.searchbox {

    margin-top: 0.5rem;
    position: relative;

    border: 1px solid lighten($core-accent, 5%);
    background: darken($core-accent,5%);
    border-radius: 4px;

    label {
        color: rgba($white, 0.8);
        position: absolute;
        left: 10px;
        top: 3px;
    }

    span {
        color: rgba($white, 0.6);
        position: absolute;
        right: 10px;
        top: 3px;
        cursor: pointer;

        &:hover {
            color: rgba($white, 0.9);
        }
    }

    input {
        display: inline-block;
        color: $white;
        width: 100%;
        height: 30px;
        background: transparent;
        border: 0;
        padding: 0 25px 0 30px;
        margin: 0;
        font-weight: $font-weight-regular;

        @include placeholder {
            color: rgba($white, 0.6);
        }
    }
}

body {

	&.sidebar-hidden {
		#sidebar {
			left: - $sidebar-width;
		}
		#body {
			left: 0;
			@include breakpoint(mobile-only) {
				overflow-y: auto;
			}
		}
		#header.navbar {
			h3 {
				padding-left: 0;
			}
		}
		#progress {
			margin-left: 0;
		}
		#overlay {
			display: none;
		}
	}

	&.searchbox-hidden {
		.searchbox {
			top: - $header-height;
		}
		.padding {
			margin-top: 0 !important;
		}
	}
}

#sidebar {
	@extend .default-animation;
	background-color: $sidebar-bg;
	position: fixed;
	top: 0;
	width: $sidebar-width;
	bottom: 0;
	left: 0;
    z-index: 200;
	font-weight: $font-weight-medium;
	font-size: 15px;

    a {
        color: $sidebar-link;
        &:hover {
            color: lighten($sidebar-link, 10%);
        }
    }

    hr {
        border-bottom: 4px solid darken($sidebar-bg, 5%);
    }

    a.padding {
        padding: 0 1rem;
    }


	ul {
        @extend .default-animation;
		list-style: none;
		padding: 0;
		margin: 0;

        &.searched {
            a {
                color: darken($sidebar-link, 20%);
            }

            .search-match {
                a {
                    color: lighten($sidebar-link, 10%);
                    &:hover {
                        color: lighten($sidebar-link, 20%);
                    }
                }
            }
        }

        &.topics {
            margin: 1rem;

            &.searched {
                ul {
                    display: block;
                }
            }

            ul {
                display: none;

            }

            li.parent ul {
                display: block;
            }

            > li {

                > a {
                    line-height: 2rem;
                    font-size: 1.1rem;


                    .fa {
                        margin-top: 9px;
                    }
                }

                &.parent, &.active {
                    background: darken($sidebar-bg, 5%);
                    margin-left: -1rem;
                    margin-right: -1rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
            }
        }



        li.active > a {
            background: $white;
            color: $core-text !important;
            margin-left: -1rem;
            margin-right: -1rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

		li {
			padding: 0;
			&.visited + span {
				margin-right: 16px;
			}
			a {
				display: block;
				padding: 2px 0;
				span {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
					display: block;
				}
			}
			> a {
				padding: 4px 0;
			}

			.fa {
				display: none;
				float: right;
				font-size: 13px;
				min-width: 16px;
				margin: 4px 0 0 0;
                text-align: right;
			}

			&.visited {
				> a .read-icon {
					color: $core-accent;
					display: inline;
				}
			}

            li {
                text-indent: 1rem;
            }
		}

	}

	.padding {
		@extend .default-animation;
		margin-top: $header-height;
	}
}

#body {
	img, .video-container {
		margin: 3rem auto;
		display: block;
        text-align: center;

		&.border {
			border: 3px solid #f0f0f0;
		}

		&.shadow {
			box-shadow: 10px 10px 0 0 #f0f0f0;
		}
	}

    position: relative;

	@extend .default-animation;

	margin-left: $sidebar-width;
    min-height: 100%;

	@include breakpoint(mobile-only) {
		overflow: hidden;
		position: fixed;
		width: 100%;
		-webkit-overflow-scrolling: touch;
	}

	.bordered {
		border: 1px solid #ccc;
	}

	.padding {
		@extend .default-animation;
		padding: $body-margin ($body-margin + 2rem);

		@include breakpoint(desktop-only) {
			position: static;
			padding: 15px ($body-margin - 1rem);
		}

		@include breakpoint(mobile-only) {
			padding: 5px 1rem;
		}
	}

	h1 + hr {
		margin-top: -1.7rem;
		margin-bottom: 3rem;
	}

	#navigation {

		@include breakpoint(desktop-only) {
			position: static;
			margin-right: 0 !important;
			width: 100%;
			display: table;
		}
	}

	.nav {
		@extend .default-animation;
		position: fixed;
		top: 0;
		bottom: 0;
		width: $body-margin;
		font-size: 50px;
		height: 100%;
		cursor: pointer;
		display: table;
		text-align: center;
		> i {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

		@include breakpoint(desktop-only) {
			display: table-cell;
			position: static;
			top: auto;
			width: 50%;
			text-align: center;
			height: 100px;
			line-height: 100px;
			padding-top: 0;
			> i {
				display: inline-block;
			}
		}


		&:hover {
			background: $navbar-bg;
		}

		&.nav-pref {
			left: 0;
		}

		&.nav-next {
			right: 0;
		}
	}


}

#body-inner {
	margin-bottom: 5rem;
}



// Progress Bar
#progress-wrapper {
	background: darken($sidebar-bg,5%);
	position: absolute;
	left: 0;
	right: 0;
	top: 56px;
}

#progress {
	@extend .default-animation;
	margin-left: $sidebar-width;

	.progress-bar {
		@include transition(all 1s ease-out);
		display: block;
		height: 4px;
		background: $progress-bar;
	}
}

// Chapter title
#chapter {

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	#body-inner {
		padding-bottom: 3rem;
		max-width: 80%;
	}

	h3 {
		font-family: $font-family-default;
		font-weight: $font-weight-regular;
		text-align: center;
	}

	h1 {
		text-transform: capitalize;
		font-size: 5rem;
		border-bottom: 4px solid $rule-color;
	}

	p {
		text-align: center;
		font-size: 1.2rem;
	}
}

// Sans Fonts
.font-toggle {
	font-family: $font-family-serif;
}

// Serif Fonts
body.font-serif {
	font-family: $font-family-serif;

	h1, h2, h3, h4, h5, h6 {
		font-family: $font-family-serif;
	}
	.font-toggle {
		font-family: $font-family-default;
	}
}

//Fluidbox fixes
.lightbox-active {
	#body, {
		overflow: visible;
		.padding {
			overflow: visible;
		}
	}
}

//Github
#github-contrib {
	i {
		vertical-align: middle;
	}
}

$turquoise: #1ABC9C;
$green_sea: #16A085;
$emerald: #2ECC71;
$nephritis: #27AE60;
$peter_river: #3498DB;
$belize_hole: #2980B9;
$amethyst: #A66BBE;
$wisteria: #8E44AD;
$wet_asphalt: #34495E;
$midnight_blue: #2C3E50;
$sunflower: #F2CA27;
$orange: #F39C12;
$carrot: #E67E22;
$pumpkin: #D35400;
$alizarin: #E74C3C;
$pomegranate: #C0392B;
$clouds: #ECF0F1;
$silver: #BDC3C7;
$concrete: #95A5A6;
$asbestos: #7F8C8D;

//Lifecycle
.lifecycle {

	#body-inner {

		ul {
			list-style: none;
			margin: 0;
			padding: 2rem 0 0;
			position: relative;
		}

		ol {
			margin: 1rem 0 1rem 0;
			padding: 2rem;
			position: relative;

			li {margin-left: 1rem;}

			strong {
				text-decoration: underline;
			}

			ol {
				margin-left: -1rem;
			}

		}

		h3[class*='level'] {
			font-size: 20px;
			position: absolute;
			margin: 0;
			padding: 4px 10px;
			right: 0;
			z-index: 1000;
			color: #fff;
			background: $turquoise;
		}

		ol h3 {
			margin-top: 1rem !important;
			right: 2rem !important;
		}

		.level-1 + ol {
			background: lighten($turquoise,56%);
			border: 4px solid $turquoise;
			color: $green_sea;
			h3 {
				background: $emerald;

			}
		}

		.level-2 + ol  {
			background: lighten($emerald,49%);
			border: 4px solid $emerald;
			color: $nephritis;
			h3 {
				background: $peter_river;
			}
		}

		.level-3 + ol {
			background: lighten($peter_river,44%);
			border: 4px solid $peter_river;
			color: $belize_hole;
			h3 {
				background: $wet_asphalt;
			}
		}

		.level-4 + ol{
			background: lighten($wet_asphalt,63%);
			border: 4px solid $wet_asphalt;
			color: $midnight_blue;
			h3 {
				background: $wet_asphalt;
			}
		}
	}
}







