@font-face {
    font-family: 'Novacento Sans Wide';
    src: url('../fonts/Novecentosanswide-UltraLight-webfont.eot');
    src: url('../fonts/Novecentosanswide-UltraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Novecentosanswide-UltraLight-webfont.woff2') format('woff2'),
         url('../fonts/Novecentosanswide-UltraLight-webfont.woff') format('woff'),
         url('../fonts/Novecentosanswide-UltraLight-webfont.ttf') format('truetype'),
         url('../fonts/Novecentosanswide-UltraLight-webfont.svg#novecento_sans_wideultralight') format('svg');
    font-style: normal;
        font-weight: 200;
}
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    src:
    url('../fonts/Work_Sans_300.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Work_Sans_300.woff') format('woff'),
        url('../fonts/Work_Sans_300.woff2') format('woff2'),
        url('../fonts/Work_Sans_300.svg#WorkSans') format('svg'),
        url('../fonts/Work_Sans_300.ttf') format('truetype');
}
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src:
        url('../fonts/Work_Sans_500.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Work_Sans_500.woff') format('woff'),
        url('../fonts/Work_Sans_500.woff2') format('woff2'),
        url('../fonts/Work_Sans_500.svg#WorkSans') format('svg'),
        url('../fonts/Work_Sans_500.ttf') format('truetype');
}

$font-family-default:           "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-header:            "Novacento Sans Wide", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-mono:              "Consolas", menlo, monospace;
$font-family-serif:             "Georgia", "Times", "Times New Roman", serif;
