// Body Base
body {
	font-family: $font-family-default;
	font-weight: 300;
    line-height: 1.6;
    font-size: 18px !important;
}

// Headings
h2, h3, h4, h5, h6 {
    font-family: $font-family-default;
	text-rendering: optimizeLegibility;
    color: #5e5e5e;
    font-weight: 400;
    letter-spacing: -1px;
}

h1 {
    font-family: $font-family-header;
	text-align: center;
    text-transform: uppercase;
    color: #222;
    font-weight: 200;
}


// Blockquote
blockquote {
	border-left: 10px solid $rule-color;
	p {
		font-size: 1.1rem;
		color: #999;
	}
	cite {
		display: block;
		text-align: right;
		color: #666;
		font-size: 1.2rem;
	}
}

// NOTES!!!!
div.notices {
    margin: 2rem 0;
    position: relative;

    p {
        padding: 15px;
        display: block;
        font-size: 1.1rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        color: #666;

        &:first-child {
            &:before {
                position: absolute;
                top: 2px;
                color: $white;
                font-family: FontAwesome;
                content: 'ïª';
                left: 10px;
            }
            &:after {
                position: absolute;
                top: 2px;
                color: $white;
                left: 2rem;
            }
        }
    }

    &.info p {
        border-top: 30px solid #F0B37E;
        background: #FFF2DB;
        &:first-child:after {
            content: 'Info';
        }
    }

    &.warning p {
        border-top: 30px solid rgba(#D9534F, 0.8);
        background: #FAE2E2;
        &:first-child:after {
            content: 'Warning';
        }
    }

    &.note p {
        border-top: 30px solid #6AB0DE;
        background: #E7F2FA;
        &:first-child:after {
            content: 'Note';
        }
    }

    &.tip p {
        border-top: 30px solid rgba(#5CB85C, 0.8);
        background: #E6F9E6;
        &:first-child:after {
            content: 'Tip';
        }
    }

}

// Inline and Code
code,
kbd,
pre,
samp {
	font-family: $font-family-mono;
    font-size: 92%;
}

code {
    border-radius: 2px;
    color: #5e5e5e;
    background: #fefaed;
    border: 1px solid #fbf0cb;
    padding: 0px 2px;
}

code + .copy-to-clipboard {
    margin-left: -1px;
    border-left: 0 !important;
    font-size: inherit !important;
    vertical-align: middle;
    border: 1px solid #fbf0cb;
    height: 21px;
}

pre {
	padding: 1rem;
	margin: 2rem 0;
	background: $pre-bg;
	border: 0;
	border-radius: 2px;
	line-height: 1.15;

	code {
		color: $pre-text;
		background: inherit;
        white-space: inherit;
        border: 0;
        padding: 0;
        margin: 0;
        font-size: 15px;
	}
}

// Extras
hr {
	border-bottom: 4px solid $rule-color;
}

// Page Title
.page-title {
	margin-top: -25px;
	padding: 25px;
	float: left;
	clear: both;
	background: $core-accent;
	color: $white;
}

// Anchor links
#body {
    a.anchor-link { color: #ccc; }
    a.anchor-link:hover { color: $core-accent; }
}





// Code Styling
#body-inner {
    .tabs-wrapper.ui-theme-badges {
        background: $pre-bg;

        .tabs-nav li {
            font-size: 0.9rem;
            text-transform: uppercase;

            a {
                background: lighten($pre-bg, 10%);
            }

            &.current a {
                background: lighten($pre-bg, 20%);
            }
        }
    }
    pre {
        white-space: pre-wrap;
    }
}

code.language-bash {
    white-space: pre;
}

.tabs-wrapper pre {
    margin: 1rem 0;
    border: 0;
    padding: 0;
    background: inherit;
}

// Scrollbar
.scrollbar-inner > .scroll-element .scroll-element_track { background-color: rgba($white, 0.3); }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: lighten(#9C6FB6, 5%); }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #ccc; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #ccc; }
