<div class="content-padding">
<h1 class="search-header">Search Results</h1>
<h3>Query: "{{ query }}" - Found {{ search_results.count }} {{ 'Item'|pluralize(search_results.count) }}</h3>

{% for page in search_results %}
    {% include 'simplesearch_item.html.twig' with {'page':page} %}
{% endfor %}
</div>
