<div class="searchbox">
    <label for="search-by"><i class="fa fa-search"></i></label>
    <input id="search-by" type="text" placeholder="{{ 'THEME_LEARN2_SEARCH_DOCUMENTATION'|t }}"
           data-search-input="{{ base_url_relative }}/s/q"/>
    <span data-search-clear><i class="fa fa-close"></i></span>
</div>
<div class="search-options">
    <div class="adv-search"><i class="fa fa-sliders"></i> <a href="{{ url('search') }}">Advanced</a></div>
    {% include 'partials/versions.html.twig' %}
</div>

